
  header {
     background-color: #a99797 ;
     align-items: center;
     justify-content: center;
     margin-top: -10px;
     margin-left: 150px;
     margin-right:150px;
     
    }

   header nav {
      float: right;
    }
    
   header nav ul {
      margin-top: 35px;
      margin-right: 35px;
    }
    
    header nav ul li {
      display: inline-block;
      margin-left: 20px;
    }

    body {
      background-color: #ccc;
    }
  
#Hobbies {
     background-color: #b39797;
     color: #000 ;
     margin-left: 150px; 
     margin-right: 150px;
     font-size: 18px;
     font-family: Georgia, 'Times New Roman', Times, serif;
     font-weight: lighter;

      }


#artistas{
  background-color: #948383;
     color: #000 ;
     margin-left: 150px; 
     margin-right: 150px;
     font-size: 18px;
     font-family: Georgia, 'Times New Roman', Times, serif;
     font-weight: lighter;
  
}

   
   
#section-port {
  background-color: #bbafaf;
  margin-left: 150px; 
  margin-right: 150px;
  font-size: 18px;
}



#section-cont {
  background-color: #bbafaf;
  margin-left: 150px; 
  margin-right: 150px;
  font-size: 18px;

}


   footer {
    text-align: center;
    margin-top: 40px;
    padding: 10px;
  }
